.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sortIcon {
	display: block;

	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort button {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	border: none;
	background-color: transparent;
}

.sortName {
	display: none;
}
